.values__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input {
    width: 150px;
    height: 25px;
    outline: none;
    text-align: center;
    border: 3px solid #70b7fa;
    border-radius: 5px;
}

.error {
    border: 1px solid red;
    background-color: #ff8585;
    border-radius: 5px;
}