.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    height: 300px;
    padding: 20px;
    gap: 20px;
    border: 5px solid #70b7fa;
    border-radius: 10px;
}

.counter {
    border: 5px solid #70b7fa;
    border-radius: 10px;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #70b7fa;
}

.buttons {
    height: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 5px solid #70b7fa;
    border-radius: 10px;
}

.start__message {
    font-size: 25px;
    color: #70b7fa;
}

.count {
    font-size: 35px;
    color: #70b7fa;
}

.active {
    font-size: 60px;
    font-weight: 600;
    color: red;
}

.error__message {
    font-size: 40px;
    font-weight: 600;
    color: red;
}