.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    height: 300px;
    padding: 20px;
    gap: 20px;
    border: 5px solid #70b7fa;
    border-radius: 10px;
}

.values {
    border: 5px solid #70b7fa;
    border-radius: 10px;
    height: 60%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 25px;
    color: #70b7fa;
}

.values__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input {
    width: 150px;
    height: 25px;
}

.buttons {
    height: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 5px solid #70b7fa;
    border-radius: 10px;
}